.container1 {
    text-align: center;
    padding-top: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.description {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ttt1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.ttt2,
.ttt3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}